<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
          <ion-button (click)="goBack()">
              <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>{{ 'TITLE.SCHEDULE' | translate }}: {{stationName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="infoLineContainer">
    <ion-item no-padding lines="none">
        <ion-thumbnail slot="start" class="numLigne"  style.color="#{{infoLine.couleurTexte}}" style.background-color="#{{infoLine.couleurFond}}">
            {{infoLine.numLignePublic}}
        </ion-thumbnail>
        <ion-label text-wrap>
            <h3>Destination</h3>
            <p>{{infoLine.destination}}</p>
        </ion-label>
    </ion-item>
  </div>
</ion-content>
