<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'TITLE.TRAFFIC_INFO' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-card *ngFor="let info of (infosTrafic | async)?.infosAnticipees">
        <ion-card-header>
            <ion-card-subtitle>
              <ion-thumbnail text-wrap *ngFor="let line of info.lignes" class="numLigne"  style.color="#{{line.couleurTexte}}" style.background-color="#{{line.couleurFond}}">
                {{line.numLignePublic}}
              </ion-thumbnail>
            </ion-card-subtitle>
            <ion-card-title text-wrap style="font-size: 14px">{{info.titre}}</ion-card-title>
        </ion-card-header>

          <ion-card-content>
              <p [innerHTML]="info.texte"></p>
              <p [innerHTML]="info.complement"></p>
              
              <p>{{info.url}}</p>
          </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>
