<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'TITLE.TRAFFIC_INFO' | translate }}</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="presentPopover()">
            <ion-icon slot="end" name="help-circle"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="infosTempsReel" checked>
        {{ 'TRAFFIC_INFO' | translate }}
      </ion-segment-button>
      <ion-segment-button text-wrap value="infosAnticipees">
        {{ 'ACTUALITY' | translate }}
      </ion-segment-button>
    </ion-segment>
</ion-toolbar>
<my-loader *ngIf="loading"></my-loader>
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
</ion-refresher>
  <ion-list *ngIf="isInfosAnticipees">
    <ion-card *ngFor="let info of infosTrafic?.infosAnticipees">
        <ion-card-header class="card-header">
            <ion-card-subtitle>
              <ion-thumbnail text-wrap *ngFor="let line of info.lignes" class="numLigne"  style.color="#{{line.couleurTexte}}" style.background-color="#{{line.couleurFond}}">
                {{line.numLignePublic}}
              </ion-thumbnail>
            </ion-card-subtitle>
            <ion-card-title text-wrap style="font-size: 14px">{{info.titre}}</ion-card-title>
            <ion-card-title text-wrap style="font-size: 10px">{{info.texte}}</ion-card-title>
        </ion-card-header>

          <ion-card-content class="card-content">
            <ion-grid class="grid-content">
              <ion-row class="row-content" *ngFor="let complementInfos of info?.complementInfos">
                <ion-col size="4">{{complementInfos.station}}</ion-col>
                <ion-col class="col-content" [innerHTML]="complementInfos.info"></ion-col>
              </ion-row>
            </ion-grid>
              
              <p><a (click)="openLink(info.url)"><ion-icon name="link"></ion-icon>Plus d'info sur Ginko voyage</a></p>
          </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list *ngIf="!isInfosAnticipees">
    <div *ngIf="infosTrafic?.infosTempsReel.length==0 && !loading" class="warning-container">{{ 'WARNING.NO_TRAFFIC_INFO' | translate }}</div>
    <ion-card *ngFor="let info of infosTrafic?.infosTempsReel">
        <ion-card-header>
            <ion-card-subtitle>
              <ion-thumbnail text-wrap *ngFor="let line of info.lignes" class="numLigne"  style.color="#{{line.couleurTexte}}" style.background-color="#{{line.couleurFond}}">
                {{line.numLignePublic}}
              </ion-thumbnail>
            </ion-card-subtitle>
            <ion-card-title text-wrap style="font-size: 14px">{{info.titre}}</ion-card-title>
        </ion-card-header>

          <ion-card-content>
              <p [innerHTML]="info.texte"></p>
               
              <p><a (click)="openLink(info.url)"><ion-icon name="link"></ion-icon>Plus d'info sur Ginko voyage</a></p>
          </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
