<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="md-alarm"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="ios-search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="md-navigate"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="info">
      <ion-icon name="information-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tarif">
      <ion-icon name="logo-euro"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

