<ion-tabs>
  <ion-tab icon="md-alarm" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="ios-search" href="/tabs/(search:search)">
    <ion-router-outlet name="search"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="md-navigate" href="/tabs/(map:map)">
    <ion-router-outlet name="map"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="information-circle" href="/tabs/(info:info)">
    <ion-router-outlet name="info"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="logo-euro" href="/tabs/(tarif:tarif)">
    <ion-router-outlet name="tarif"></ion-router-outlet>
  </ion-tab>
</ion-tabs>

