<ion-header>
    <ion-toolbar color="primary">
        <ion-searchbar #searchBar color="primary" showCancelButton placeholder="{{ 'SEARCH_STATION' | translate }}" cancelButtonText="{{ 'CANCEL' | translate }}"  (ionInput)="filterItems($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>
    
<ion-content>
    <my-loader *ngIf="loading"></my-loader>
    <ion-virtual-scroll *ngIf="!loading" [items]="stations | removeDuplicateStation" approxItemHeight="45px">
        <ion-item button *virtualItem="let station" (click)="itemSelected(station)">
            {{station.name}}
        </ion-item>
    </ion-virtual-scroll>
</ion-content>
    