.numLigne{
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    padding: 0px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 40px;
    max-height: 40px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.noBottomMargin{
    margin-bottom: 5px;
}

.fab-bottom{
    bottom:10px !important;
}

.tempsAttenteContainer{
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.3);
    margin: 15px;
    margin-top: 25px;
}



.timeContainer{
    display: flex;
    flex-direction: row;
}

.time{
    width: 100%;
    flex: 0 1 auto;
    text-align: center;
    background: #0091D4;
    padding: 5px;
}

.time:first-child{
    font-weight: bold;
}

.time:last-child{
    background-color: #f4f4f4;
}