.numLigne{
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    padding: 0px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}
