<ion-header>
  <ion-toolbar color="primary">
      <ion-searchbar color="primary" placeholder="{{ 'STATION' | translate }}" routerLink="/tabs/search"></ion-searchbar>
      <ion-buttons slot="primary">
        <ion-button (click)="toggleEdit()">
            <i class="fas fa-sort-amount-up"></i>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>

  <ion-list #slidingList no-margin>
    <ion-list-header no-margin color="light">
        <div>
            <ion-icon name="star"></ion-icon>
            <ion-text text-uppercase padding-start>{{ 'FAVORIS' | translate }}</ion-text>
        </div>
        <ion-text margin-end text-lowercase text-wrap style="font-size: 10px">{{dateLastUpdate | formatDate:'calendar'}}</ion-text>
        <my-header-loader *ngIf="loadFavoris"></my-header-loader>
    </ion-list-header>
    <div *ngIf="favorisTemps?.length==0 && !loadFavoris" class="warning-container">{{ 'WARNING.EMPTY_FAV' | translate }}</div>
    <ion-reorder-group id="reorder" (ionItemReorder)="reorderItems($event)">
        <ion-item-sliding *ngFor="let favorisTemps of favorisTemps">
                <div *ngIf="!favorisTemps.favoris.isStation">
                    <ion-item button (click)="itemSelected(favorisTemps.favoris.station)">
                        <ion-thumbnail slot="start" class="numLigne" style.color="#{{favorisTemps.favoris.couleurTexte}}" style.background-color="#{{favorisTemps.favoris.couleurFond}}">
                            {{favorisTemps.favoris.numLignePublic}}
                        </ion-thumbnail>
                        <ion-label text-wrap>
                            <h3>{{favorisTemps.favoris.station.name}}</h3>
                            <p>{{favorisTemps.favoris.destination}}</p>
                        </ion-label>
                        <ion-text slot="end">{{favorisTemps.temps}}</ion-text>
                        <ion-reorder slot="end"></ion-reorder>
                    </ion-item>   
                    <ion-item-options side="end">
                        <ion-item-option color="danger" (click)="removeTempsAttenteFavoris(favorisTemps.favoris)">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </div>
                <div *ngIf="favorisTemps.favoris.isStation">
                    <ion-item button (click)="itemSelected(favorisTemps.favoris.station)">
                        <ion-icon name="pin" size="small"></ion-icon>
                        <ion-text padding-start>{{favorisTemps.favoris.station.name}} </ion-text>
                        <ion-reorder slot="end"></ion-reorder>
                    </ion-item>    
                    <ion-item-options side="end">
                        <ion-item-option color="danger" (click)="removeFavoris(favorisTemps.favoris)">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </div>

        </ion-item-sliding>
    </ion-reorder-group>
  </ion-list>


  <ion-list no-margin>
      <ion-list-header no-margin color="light">
            <div>
                <ion-icon name="pin"></ion-icon>
                <ion-label text-uppercase padding-start>{{ 'NEAREST_STATION' | translate }}</ion-label>
            </div>
            <my-header-loader *ngIf="loadStationProche"></my-header-loader>
      </ion-list-header>
      <div *ngIf="stationProches?.length==0 && !loadStationProche && !isErrorLocation" class="warning-container">{{ 'WARNING.NO_STATION_NEARBY' | translate }}</div>
      <div *ngIf="isErrorLocation && !loadStationProche" class="warning-container">{{ 'WARNING.ACTIVE_YOUR_LOCALISATION' | translate }}</div>

      <ion-item button *ngFor="let station of stationProches | removeDuplicateStation | slice:0:4"  (click)="itemSelected(station)">
          <ion-text text-nowrap> {{station.name}} </ion-text>
          <ion-text slot="end">{{station.latLong | calculateDistance:latitude:longitude }}</ion-text>
        </ion-item>
  </ion-list>
</ion-content>
