<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
        </ion-buttons>
      <ion-title>{{ station?.name }}</ion-title>
      <ion-buttons slot="primary">
            <ion-button [href]="'/map/' + station.id">
                <ion-icon slot="end" name="pin"></ion-icon>
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="eventFavoris()">
            <ion-icon [color]="isInfavoris ? 'tertiary' : 'dark'" [name]="isInfavoris ? 'ios-star' : 'ios-star-outline'"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-list *ngIf="station">
        <ion-list-header color="light">
            {{ 'WARNING.LAST_UPDATE' | translate }} {{dateLastUpdate | formatDate:'calendar'}}
            <my-header-loader *ngIf="loading && station"></my-header-loader>
          </ion-list-header>
          <div *ngIf="!loading && station && listeTemps.length == 0"class="warning-container">{{ 'WARNING.NO_PLANNED_PASSAGE' | translate }}</div>

          <div class="tempsAttenteContainer" *ngFor="let tempsAttente of listeTemps">
            <ion-item no-padding lines="none">
                <ion-thumbnail slot="start" class="numLigne"  style.color="#{{tempsAttente.couleurTexte}}" style.background-color="#{{tempsAttente.couleurFond}}">
                    {{tempsAttente.numLignePublic}}
                </ion-thumbnail>
                <ion-label text-wrap>
                    <h3>{{tempsAttente.destination}}</h3>
                    <p>{{tempsAttente.precisionDestination}}</p>
                </ion-label>
                <ion-icon [color]="tempsAttente.isInfavoris ? 'tertiary' : 'dark'" [name]="tempsAttente.isInfavoris ? 'ios-star' : 'ios-star-outline'" (click)="eventFavoris(tempsAttente)"></ion-icon>
            </ion-item>
            <div class="timeContainer">
                <div class="time" *ngFor="let time of tempsAttente.lstTemps">{{time}}</div>
            </div>
          </div>
    </ion-list>

</ion-content>
